html {
  font-size: 62.5%; }

body {
  background-color: #f4f3ed;
  font: 14px 'Lato', sans-serif; }

.img-size {
  width: 100%; }
.img-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 1fr));
  grid-gap: 3rem 2rem;
  justify-items: start;
  align-items: center;
  margin-top: 10rem; }

.first-product {
  grid-area: 1/ 2/ 3/ 3;
  justify-self: center; }

.left-products {
  justify-self: end; }

.order {
  order: 1; }

.navbar-right-side {
  position: absolute;
  right: 6px; }
  .navbar-right-side svg {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.6rem; }

.product-info {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .product-info button {
    background-color: #efb784;
    color: white;
    border: 0;
    padding: 6px 12px;
    font: 14px 'Lato', sans-serif; }
    @media (min-width: 600px) {
      .product-info button {
        font-size: 16px; } }
.product div > p {
  margin: 0; }
  .product div > p:last-of-type {
    margin-top: 2px; }
.product-details {
  display: grid;
  margin: 1rem; }
  .product-details > span {
    margin-top: 5px; }

.horizontal-ruler {
  background-color: #dbdbdb;
  height: 8px;
  width: 90%;
  margin: 3rem auto; }

.shoplah {
  text-align: center; }
  .shoplah-menu {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem; }
    @media (min-width: 640px) {
      .shoplah-menu {
        width: 85%; } }
    @media (min-width: 850px) {
      .shoplah-menu {
        width: 70%; } }
    @media (min-width: 1024px) {
      .shoplah-menu {
        width: 60%; } }
    @media (min-width: 1280px) {
      .shoplah-menu {
        width: 55%; } }
    @media (min-width: 1440px) {
      .shoplah-menu {
        width: 50%; } }
  .shoplah-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border: 2px solid #dbdbdb; }
    .shoplah-header > span {
      display: inline-block;
      padding: 1rem 0; }
      .shoplah-header > span:nth-child(1) {
        text-align: center; }
  .shoplah-items {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border: 2px #dbdbdb;
    border-style: none solid solid solid; }
  .shoplah-cancel {
    font-size: 18px;
    cursor: pointer;
    margin-left: 1rem; }
    @media (min-width: 400px) {
      .shoplah-cancel {
        margin-right: 1rem; } }
  .shoplah-img {
    border: 2px solid #dbdbdb;
    width: 70px; }
    @media (min-width: 500px) {
      .shoplah-img {
        width: 90px; } }
    @media (min-width: 768px) {
      .shoplah-img {
        width: 100px; } }
  .shoplah-product {
    display: flex;
    align-items: center;
    justify-self: center; }
  .shoplah-total {
    border: 2px solid #dbdbdb;
    border-style: none solid solid solid;
    padding: 5px 0;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-flow: row; }
  .shoplah-qty {
    display: flex; }
  .shoplah-btn-outline {
    cursor: pointer;
    padding: 0px 4px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    /*
    width: 2rem;
    height: 2rem;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    //padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    */ }
    .shoplah-btn-outline img {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      font-size: 1rem;
      vertical-align: middle; }
  .shoplah-input {
    width: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border-left: none;
    border-right: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    cursor: text;
    border-radius: 0; }
    @media (min-width: 640px) {
      .shoplah-input {
        width: 2.75rem; } }
    @media (min-width: 850px) {
      .shoplah-input {
        width: 3.25rem; } }
    @media (min-width: 1024px) {
      .shoplah-input {
        width: 3.5rem; } }

.total-price {
  grid-column: 4/5;
  padding: 5px 0; }

.checkout {
  grid-column: 4/5;
  width: 75%;
  justify-self: center;
  margin: 5px 0;
  padding: 3px; }

/*# sourceMappingURL=index.css.map */
