html {
  font-size: 62.5%; }

body {
  background-color: #f4f3ed;
  font: 14px 'Lato', sans-serif; }

.img-size {
  width: 100%; }
.img-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 1fr));
  grid-gap: 3rem 2rem;
  justify-items: start;
  align-items: center; }

.first-product {
  grid-area: 1/ 2/ 3/ 3; }

.left-products {
  justify-self: end; }

.order {
  order: 1; }

.product-info {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .product-info button {
    background-color: #efb784;
    color: white;
    border: 0;
    padding: 6px 12px;
    font: 14px 'Lato', sans-serif; }
    @media (min-width: 600px) {
      .product-info button {
        font-size: 16px; } }
.product div > p {
  margin: 0; }
  .product div > p:last-of-type {
    margin-top: 2px; }
.product-details {
  display: grid;
  margin: 1rem; }
  .product-details > span {
    margin-top: 5px; }

.horizontal-ruler {
  background-color: #dbdbdb;
  height: 8px;
  width: 90%;
  margin: 3rem auto; }

.shopping-cart {
  text-align: center; }
  .shopping-cart-menu {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 640px) {
      .shopping-cart-menu {
        width: 85%; } }
    @media (min-width: 850px) {
      .shopping-cart-menu {
        width: 70%; } }
    @media (min-width: 1024px) {
      .shopping-cart-menu {
        width: 60%; } }
    @media (min-width: 1280px) {
      .shopping-cart-menu {
        width: 55%; } }
    @media (min-width: 1440px) {
      .shopping-cart-menu {
        width: 50%; } }
  .shopping-cart-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border: 2px solid #dbdbdb; }
    .shopping-cart-header > span {
      display: inline-block;
      padding: 1rem 0; }
      .shopping-cart-header > span:nth-child(1) {
        text-align: center; }
  .shopping-cart-items {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border: 2px #dbdbdb;
    border-style: none solid solid solid; }
  .shopping-cart-cancel {
    font-size: 18px;
    cursor: pointer;
    margin-left: 1rem; }
    @media (min-width: 400px) {
      .shopping-cart-cancel {
        margin-right: 1rem; } }
  .shopping-cart-img {
    border: 2px solid #dbdbdb;
    width: 70px; }
    @media (min-width: 500px) {
      .shopping-cart-img {
        width: 90px; } }
    @media (min-width: 768px) {
      .shopping-cart-img {
        width: 100px; } }
  .shopping-cart-product {
    display: flex;
    align-items: center;
    justify-self: center; }
  .shopping-cart-total {
    border: 2px solid #dbdbdb;
    border-style: none solid solid solid;
    padding: 5px 0;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-flow: row; }

.total-price {
  grid-column: 4/5;
  padding: 5px 0; }

.checkout {
  grid-column: 4/5;
  width: 75%;
  justify-self: center;
  margin: 5px 0;
  padding: 3px; }

.item-input-qty {
  width: 1.5rem;
  text-align: center;
  padding: 0.5rem 1rem; }
  @media (min-width: 640px) {
    .item-input-qty {
      width: 3rem; } }
  @media (min-width: 850px) {
    .item-input-qty {
      width: 4rem; } }
  @media (min-width: 1024px) {
    .item-input-qty {
      width: 5rem; } }

/*# sourceMappingURL=index.css.map */
