html {
  font-size: 62.5%;
}

body {
  background-color: rgb(244, 243, 237);
  font: 14px 'Lato', sans-serif;
}

.img {
  &-size {
    //border: 6px solid rgb(219, 219, 219);
    width: 100%;
  }
  
  &-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    grid-gap: 3rem 2rem; 
    justify-items: start;
    align-items: center;
    margin-top: 10rem;
  }
}

.first-product {
  //grid-row: 1/3;
  //grid-column: 2/3;
  grid-area: 1/ 2/ 3/ 3;
  justify-self: center;
}

.left-products {
  justify-self: end;
}

.order {
  order: 1;
}

.navbar-right-side {
  position: absolute;
  right: 6px;

  svg {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.6rem;
  }
}

.dropdown-cart {
  box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,.2);
  border-radius: 0.125rem;
  overflow: hidden;
  background: white;
  width: 25rem;

  &-header {
    padding-left: 0.625rem;
    height: 2.5rem;
    color: rgba(0,0,0,.26);
    text-transform: capitalize;
  }

  // this whole dropdown-cart-items css is not being used
  /*
  &-items {
    padding-top: 20px;

    li {
      margin-bottom: 18px;
    }

    img {
      float: left;
      margin-right: 12px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $light-text;
    }
  } */

  &:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
}

.product {
  //width: fit-content;

  &-info {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    justify-content: space-between;
    margin-bottom: 3rem;

    button {
      background-color: rgb(239, 183, 132);
      color: white;
      border: 0;
      padding: 6px 12px;
      font: 14px 'Lato', sans-serif;
      cursor: pointer;

      @media(min-width: 600px) {
        font-size: 16px;  
      }
    }
  }

  div { // div of product labels
    > p {
      margin: 0;
      
      &:last-of-type {
        margin-top: 2px;
      }
    }
  }

  &-details {
    display: grid;
    margin: 1rem;


    > span {
      margin-top: 5px;
    }
  }
}

.horizontal {
  &-ruler {
    background-color: rgb(219, 219, 219);
    height: 8px;
    width: 90%;
    margin: 3rem auto;
  }
}

//.shoplah-header and .shoplah-items have the same grid-template-columns
.shoplah {
  text-align: center;

  &-menu {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;

    @media (min-width: 640px) {
      width: 85%;
    }

    @media (min-width: 850px) {
      width: 70%;
    }

    @media (min-width: 1024px) {
      width: 60%;
    }

    @media (min-width: 1280px) {
      width: 55%;
    }

    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &-header {
    //text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border: 2px solid rgb(219, 219, 219);

    > span {
      display: inline-block;
      padding: 1rem 0; 
  
      &:nth-child(1) {
        text-align: center;
      }
    }
  }

  &-items {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border: 2px rgb(219, 219, 219);
    border-style: none solid solid solid;
  }

  &-cancel {
    font-size: 18px;
    cursor: pointer;
    margin-left: 1rem;

    @media (min-width: 400px) {
      margin-right: 1rem;
    }
  }

  &-img {
    border: 2px solid rgb(219, 219, 219);
    width: 70px;
    //height: 83px;

    @media(min-width: 500px) {
      width: 90px;
    }

    @media(min-width: 768px) {
      width: 100px;
    }
  }

  &-product {
    display: flex;  
    align-items: center;
    justify-self: center;
  }

  &-total {
    border: 2px solid rgb(219, 219, 219);
    border-style: none solid solid solid;
    padding: 5px 0;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-flow: row; 
  }

  &-qty {
    display: flex;
  }

  &-btn-outline {
    cursor: pointer;
    padding: 0px 4px;
    border: 1px solid rgba(0, 0, 0,.09);
    border-radius: 2px;
    color: rgba(0,0,0,.8);
    background-color: white;

    img {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      font-size: 1rem;
      vertical-align: middle;
      //fill: currentColor;
      //position: relative;
    }
  }

  &-input {
    width: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border-left: none;
    border-right: none;
    border: 1px solid rgba(0,0,0,.09);
    cursor: text;
    border-radius: 0;

    @media (min-width: 640px) {
      width: 2.75rem;
    }
    
    @media (min-width: 850px) {
      width: 3.25rem;
    }

    @media (min-width: 1024px) {
      width: 3.5rem;
    }
  }
}

.total-price {
  grid-column: 4/5;
  padding: 5px 0;
}

.checkout {
  grid-column: 4/5;
  width: 75%;
  justify-self: center;
  margin: 5px 0;
  padding: 3px;
}