html {
  font-size: 62.5%;
}

body {
  background-color: rgb(244, 243, 237);
  font: 14px 'Lato', sans-serif;
}

.img {
  border: 6px solid rgb(219, 219, 219);
  width: 29rem;

  &-container {
    display: flex;
    flex-flow: row wrap;
  }
}

.product {
  width: fit-content;

  &-info {
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    padding-top: 1rem;
    justify-content: space-between;
    margin-bottom: 3rem;

    button {
      //align-self: flex-end;
      background-color: rgb(239, 183, 132);
      color: white;
      border: 0;
      text-transform: uppercase;
      padding: 6px 12px;
      font: 12px 'Lato', sans-serif;
    }
  }

  div { // div of product labels
    > p {
      margin: 0;

      &:last-of-type {
        margin-top: 2px;
      }
    }
  }
}

.horizontal {
  &-ruler {
    background-color: rgb(219, 219, 219);
    height: 8px;
    width: 90%;
    margin: 3rem auto;
  }
}

//.shopping-cart-header and .shopping-cart-items have the same grid-template-columns
.shopping-cart {
  text-align: center;

  &-menu {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }

  &-header {
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border: 2px solid rgb(219, 219, 219);

    > span {
      padding: 1rem 0; 
  
      &:nth-child(1) {
        text-align: center;
      }

    }
  }

  &-items {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    border: 2px rgb(219, 219, 219);
    border-style: none solid solid solid;
  }

  &-cancel {
    font-size: 20px;
    cursor: pointer;
  }

  &-img {
    border: 2px solid rgb(219, 219, 219);
    width: 83px;
    height: 83px;
    margin: 1rem 1.5rem;
  }

  &-product {
    display: flex;  
    align-items: center;
    justify-self: center;
  }

  &-total {
    border: 2px solid rgb(219, 219, 219);
    border-style: none solid solid solid;
    padding: 1rem 0;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-auto-flow: row; 
    text-align: left;
  } 
}

.total-price {
  grid-column: 4/5;
}

.item {

  &-input-qty {
    left: 60%;
    width: 5rem;
    text-align: center;
    padding: 0.5rem 1rem;
  }
}

